// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar-nav.affix.samples {
  position: fixed;
  top: 60px;
  width: 14.89362%; // .span2
}

.sidebar-nav.affix.skills {
  position: fixed;
  top: 60px;
  width: 31.91489%; // .span4
}


.resume-item {
  margin-bottom: 2.2em;
}

.resume-item h3 {
  margin-bottom: 0;
}



.work_history .address p {
  margin-bottom: 0;
}